body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#map {
    flex: 1;
    width: 100%;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer input, footer select, footer button {
    margin: 0 10px;
    padding: 5px;
}

/* Modal container */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Modal content */
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 80%; /* Limita a largura máxima do modal */
  }
  
  /* Close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Paragraphs inside modal */
  .modalParagraph {
    margin-bottom: 10px;
  }
  
  /* Weather type label */
  #weatherTypeLabel {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  /* Weather type icon */
  #weatherTypeIcon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  /* Temperature */
  #maxTemperature,
  #minTemperature {
    font-size: 18px;
    color: #555;
  }
  
  /* Moon phase label */
  #moonPhaseLabel {
    font-size: 16px;
    color: #666;
  }
  
  /* Moon phase icon */
  #moonPhaseIcon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  /* Responsividade */
  @media only screen and (max-width: 600px) {
    .modal-content {
      width: 90%; /* Reduz a largura do modal em telas menores */
      max-width: 90%;
    }
  }